.resume{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(20, 23, 28);
    font-size: 17px;
    font-weight: 700;
    color:antiquewhite;
}
.body{
    margin-top: 40px;
    margin-left: 100px;
    position: relative;
}
.skil{
    width: 30%;
    font-size: larger;
}
  
.hover {
    display: inline-block;
    position: relative;
  }
  
  .hover::after {
    content: '';
    width: 100%;
    transform: scaleX(0.4);
    height: 3px;
    background-color: #518097;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  
  .hover:hover::after {
    transform: scaleX(1.01);
    transform-origin: bottom left;
  }

 .pic{
    width: 330px;
    border-radius: 17px;
 } 
 /* aside{
  float: right;
 } */

 .spot:hover{
    transform: scale(1.19);
 }
 div{
  overflow: hidden;
}
  @media only screen and (max-width:768px) {
    .body{
      margin-top: 5px;
      margin-left: 5px;
      margin-top: 12px;
    }
    .resume{
      font-size: 16px;
    font-weight: 300;
    }
    .skil{
      width: 98%;
    }
    .pic{
      display: flex;
      margin: auto;

    }
    div{
      overflow: hidden;
    }
    
  }