/* *{
    background: transparent;
    background-image: url("alchemist1.jpg");
    background-repeat:no-repeat;
   background-size: 100%;
   background-position:44% 13%;
   background-color: grey;


}
body::before{
    background-attachment: fixed;
   
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    
}
.sec{
    min-height: 100vh;
    width: 100%;
    background-image: url("alchemist1.jpg");
    background-position: 55% 90%;
    background-size: cover;
    position: relative;

    
 
}
.name{
    position: relative;
    text-align: center;
    top: 210px;
    color: antiquewhite;
    font-size: 66px;
    
   
}
.who{
    position: relative;
    text-align: center;
    top: 160px;
    color: aliceblue;
    font-size: 30px;
}
.navi{
   
    text-align: center;
    transform: translateY(190px);

}
.navi a{
    color: rgb(162, 158, 154);
    text-decoration: none;
    padding: 10px;
 
}
.navi a:hover{
    color: antiquewhite;
}
